language: python
python:
- '2.7'
env:
- DJANGO=1.6.6
install:
- pip install -r requirements.txt
script:
- python manage.py test
deploy:
  provider: heroku
  api_key:
    secure: XC5k+phUuebfQb/+U4TCZoQSpXdqpcpLoKz/vx6WmLfhOnDAdWlNov3FzDzaHmhWo82CWhPBxO2BwEZt/rdBcOEg/vYi73n3jnYb9r0bHjmnrM/XroYIqCqdws0TxIk09gdxfeWmx6mN3NcXo+ORlcYLC3FUiOJ6IHnYMsm1xSU=
  strategy: git
  app: young-refuge-4897
  on:
    repo: sharma-mohit/django-travis-heroku
before_install:
- openssl aes-256-cbc -K $encrypted_baab89578276_key -iv $encrypted_baab89578276_iv
  -in travis.key.pem.enc -out travis.key.pem -d
after_success:
  - eval `ssh-agent -s`
  - chmod 600 travis.key.pem 
  - ssh-add travis.key.pem
  - ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -p59797 stannis@58.182.94.53 "cd /home/stannis/project/vagrant_chef_solo && vagrant reload"
